body {
    background: url(bg.jpg) no-repeat center top fixed ;
    background-size: auto auto;
    background-color: #8022cc;
    background-blend-mode: screen;
    background-size: cover;
}

.form {
    width: 300px;
}

.profileuser {
    width: 50px;
    height: 50px;
    clip-path: circle();
    background-image: url(profile.jpg);
    background-size: contain;
}

.nav-i {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.nav-container {
    display: flex;
    align-items: baseline  !important;
    justify-content: space-around !important;
}

.profile_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
   }
