{% extends 'index.html' %}

{% block nav %}
    <a class="btn btn-success mt-5 gobackbtn" href="/lgf"> Login</a>
    <a class="btn btn-success mt-5 gobackbtn" href="/logout"> Logout</a>
{% endblock %}

{% block body %}

<h2 class="text-center">{{ the_title }}</h2>

<div class="form">
<form method='POST' action="/countthis">
    <div class="form-group">
      <label for="PhraseInput">Phrase</label>
      <input type="text" class="form-control" id="PhraseInput" name='PhraseInput' placeholder="Your Phrase">
    </div>
    <button type="submit" class="btn btn-primary mt-1">Count It!</button>
</form>
</div>
<a class="btn btn-success mt-1" href="/viewlog">Get log</a>
<a class="btn btn-success mt-1" href="/viewlogdb">Get log db</a>
{% endblock %}
