<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/user_login_form.css" />
</head>
<body>
<div class="wrapper">
            <div class="container user_log_form">
                <div class="row user_log_row align-items-center">
                    <div class="col-4 q">&nbsp;</div>
                    <div class="col-4 q">
                          <form method="POST" action="/login2">
                              {{ form.hidden_tag() }}
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">User Name</label>
                              {{ form.user(class_="form-control", id="exampleInputEmail1")}}
                            </div>
                              <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                {{ form.password(class_="form-control", id="exampleInputPassword1") }}
                              </div>
                            {{ form.submit(class_="btn btn-primary") }}
                          </form>
                    </div>
                    <div class="col-4 q">&nbsp;</div>
                </div>
            </div>
</div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
